.invoices-table {
    width: auto;
    border-collapse: collapse;
    border-radius: var(--border-radius-md);
}

.invoices-table th,
.invoices-table td {
    padding: var(--s0);
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.invoices-table th {
    background-color: var(--main-color);
    color: white
}

.invoices-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.invoices-table tbody tr {
    cursor: pointer;
}

.invoices-table tbody tr:hover {
    background-color: #e6e6e6;
}