.leaders-grouped {
  display: flex;
  flex-direction: column;
  gap: var(--s1);
}

.leaders-group{
  display: grid;
  gap: var(--s0);
}

.leaders-group .leaders{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--s0);
}

.leaders-group h3 {
  font-family: var(--title-font);
  font-size: var(--subtitle-font-size);
  text-decoration: underline;
  text-transform: capitalize;
}

.leaders-group .leader {
  padding: var(--s0);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius-lg);
  display: grid;
  gap: var(--s1);
  grid-template-columns: auto 1fr auto;
}

.leaders-group .leader img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.leaders-group .leader-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.leaders-group .leader h4 {
  font-family: var(--title-font);
  font-size: var(--large-font-size);
}

.leaders-group.admin .leaders{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--s0);
}

.leaders-group .leader.admin {
  cursor: pointer;
  transition: transform 0.3s;
  min-width: 500px;
}

.leaders-group .leader.admin:hover {
  transform: scale(1.03);
}

.leaders-group .leader.admin .change-role{
  align-self: center;
  width: 100%;
}

@media screen and (max-width: 55rem) {
  .leaders-group .leaders {
    grid-template-columns: 1fr;
  }

  .leaders-group.admin .leaders {
    grid-template-columns: 1fr;
  }
}