.p-datatable-header{
    padding: 1rem;
    border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
    align-items: center;
}

.p-datatable-thead>tr>th{
    padding: 1rem;
}

.p-inputtext{
    border: var(--s-2) solid transparent;
    outline: var(--s-99) solid var(--main-color);
}

.registrationstable-header{
    flex-direction: row;
    align-items: center;
}

.registrationstable-header .input{
    width: auto;
}

.p-sortable-column{
    cursor: pointer;
    font-style: italic;
    border-bottom: 1px solid var(--light-main-color);
}

.p-multiselect-panel{
    box-shadow: 0px 2px 15px rgb(187, 187, 187);
}

.p-multiselect-header{
    padding: 0.5rem 1rem;
}

.p-multiselect-item{
    padding: 0.5rem 1rem;
    display: flex;
    gap: 1rem;
}

.p-checkbox-box{
    border: 0.1rem solid var(--main-color);
}

.p-highlight{
    color: var(--main-color);
}

.p-datatable-table td{
    padding: 1rem;
}

.p-paginator{
    padding: 0.5rem;
}

.p-dropdown-label{
    padding: 0.3rem;
}

.p-dropdown-item{
    padding: 0.5rem 1rem;
}

.exportToExcel__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--s-1);
    font-style: italic;
    cursor: pointer;
}

.exportToExcel__button{
    background-color: var(--positive-color);
}

.popup-text{
    margin-bottom: 1rem;
}