/*   APP CSS: Algemene styling classes die voor elke pagina kan terugkomen   */
.inherit-font {
	font-family: inherit;
	color: inherit;
	font-size: inherit;
}

.link {
	color: white;
	text-decoration: none;
}

strong {
	font-weight: bold;
}

.cursive{
	text-decoration: underline;
	font-style: italic;
	color: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.layered-grid {
	display: grid;
	place-items: center;
}

.layered-grid>* {
	grid-row: 1;
	grid-column: 1;
}

.page__container {
	color: var(--main-color);
	margin-top: 8rem;
	text-align: center;
	padding: var(--s0);
}
.page__container.admin{
	margin-top: 4rem;
}

.page__section {
	max-width: 60rem;
	margin: 0 auto;
}

.page__section:not(:first-child) {
    margin-top: var(--s1);
    padding-top: var(--s2);
}

.page__section--content{
	border-top: 0.2rem solid var(--main-color);
	margin: var(--s2) 0;
	padding: 2rem 0;
}

@media screen and (min-width: 55rem) {
	.page__container {
		text-align: left;
	}
	.page__section {
		align-items: flex-start;
	}
}

.more__link a {
	color: white;
	text-decoration: underline;
	font-style: italic;
	font-size: 80%;
}

.error{
	color: var(--error-color)
}

.error.global{
	margin-bottom: 1rem;
}

.flex__container {
	display: flex;
	gap: var(--s2);
	align-items: flex-start;
	flex-direction: column-reverse;
	text-align: center;
}

.flex__container img {
	width: 85%;
	max-width: 400px;
	align-self: center;
}

.flex__container--text {
	display: flex;
	flex-direction: column;
	gap: var(--s-1);
}

@media screen and (min-width: 55rem) {
	.flex__container {
		flex-direction: row;
		text-align: left;
	}

	.flex__container .section-title__container {
		align-items: flex-start;
	}

	.event-text__container {
		text-align: left;
	}
}

.round-image {
	border-radius: 100%;
}



/* 
@media screen and (max-width: 700px) {
	.popup {
		width: 70%;
	}
} */

.success-toast{
    background-color: rgb(0, 181, 0);
    color: white;
}

.error-toast{
    background-color: var(--error-color);
    color: white;
}


/* PRIMEREACT OVERLOADS */
.p-component * {
	font-family: var(--main-font);
	font-size: inherit;
	color: inherit ;
}

.p-button {
	background-color: var(--main-color);
	padding: var(--s-1);
	border-radius: 5px;
	color: white;
	text-decoration: none;
	display: inline-block;
	border: none;
	outline: none;
	cursor: pointer;
	text-align: center;
	font-size: unset;
}

.p-toast {
	opacity: 1 !important;
	z-index: 999 !important;
}